.comment-section-wrapper {
    margin-top: 24px;
color:white;
}

.total-comments {
    display: inline;
    padding-right: 8px;
}
.comment-section-wrapper .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 8px;
}

.comment-section-wrapper .add-comment {
    display: flex;
    width: 700px;
    margin: 28px 0px;
}
.comment-section-wrapper .add-comment input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
    font-size: 1.1rem;
}
.comment-section-wrapper .add-comment input::placeholder {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
}
.comment-section-wrapper .add-comment button {
    background-color: #85c742;
    border: none;
    padding: 5px;
    font-weight: 600;
    border-radius: 6px;
    font-size: 1rem;
    width: 110px;
    cursor: pointer;
}
.comment-section-wrapper .add-comment button:hover {
    opacity: 0.75;
}

/*Comment Card */
.comment-card {
    display: flex;
    color: white;
    margin-top: 24px;
    width: 600px;
}
.comment-card-time {
    color:gray;
    margin-left: 8px;
}
.comment-card-wrapper {
display: flex;
flex-direction: column;
gap:10px;
}
.comment-card-image-wrapper img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.comment-card .users {
    margin-bottom: 4px;
    margin-left: 8px;
}
.comment-card-username {
    font-weight: 600;
}

.comment-content {
    word-spacing: 8px;
    margin-left: 8px;
}


